# Seguridad (Ignorar credenciales reales)
.env
cred.env
Cass-creds/
secure-connect-*.zip

# Datos (Ignorar datasets pesados y generados)
data/
old versions/
datalake/
__pycache__/
*.pyc
.ipynb_checkpoints/